name: Deploy React Frontend

on:
  push:
    branches: ["main"]
    paths:
      - "frontend/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy to hosting via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST_FE }}
          username: ${{ secrets.FTP_USER_FE }}
          password: ${{ secrets.FTP_PASS_FE }}
          protocol: ftp
          local-dir: frontend/dist/
          server-dir: /public_html/
 